*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: beige;
}
#cuadro{
    position: relative;
    height: 300px;
    /* border: 2px solid red; */
    display: block;
    overflow: visible;
}

.div-svg{  
    position: absolute;  
    width: 20%;
    height: 100%; 
    /* border-right: 1px solid grey; */
    overflow:visible;
    display: inline-block;
}
svg{
    position: absolute;
    display: inline-block;
    /* width: 50%; */
    height: 90%;
    left: 30px;
    overflow:visible;
}

#svg{
    display: block;
}
.datos{
    position: relative;
    width: 80%;
    height: 100%;
    top:0px;    
    margin-left:20%;
    /* border:1px solid green; */
    display: inline-block;
}
#table{
    /* border: 1px solid red; */
    position: absolute;
    width: 80%;
    margin: 2% 10%;
    /* top:10%;
    left: 5%; */
    
}

.region{
    fill: blueviolet;
    transform-origin: center;
    transform-box: fill-box;
}

.moverNorte{
    animation: giracionNorte 5000ms forwards;    
}

.moverCentro{
    animation: giracionCentro 5000ms forwards;    
}

.moverSur{
    animation: giracionSur 5000ms forwards;    
}
.moverSurExt{
    animation: giracionSur 5000ms forwards;    
}

/* .region:hover{
    fill: blueviolet;
    animation: giracion 5s ease;
    transform-origin: center;
    transform-box: fill-box;
} */
/* .region:not(:hover){
    fill: red;
    animation: volver 5s ease;
} */

/* #arica:hover{
    animation: giracion 5s ease;
    transform-origin: center;
    transform-box: fill-box; 
} */
/*solo en caso que el centro este fuera del objeto. */

/* rotateZ(360deg) scale(1.5)  */
 /* @keyframes giracion{
    0%{
        transform: translateX(0px);

    }
    50%{
        transform: translateX(-30px);       
    }
    0%{
        transform: translateX(0px);
    }
} */

@keyframes giracionNorte{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(80px);
    }
    80%{
        transform: translateX(80px) translateY(70px) scale(4);                      
    }
    100%{
        transform: translateX(80px) translateY(70px) scale(4);
    }
}
@keyframes giracionCentro{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(80px);
    }
    80%{
        transform: translateX(80px) scale(4);                      
    }
    100%{
        transform: translateX(80px) scale(4);
    }
}
@keyframes giracionSur{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(80px);
    }
    80%{
        transform: translateX(80px) translateY(-80px) scale(4);                      
    }
    100%{
        transform: translateX(80px) translateY(-80px) scale(4);
    }
}
@keyframes giracionSur{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(80px);
    }
    80%{
        transform: translateX(90px) translateY(-120px) scale(2);                      
    }
    100%{
        transform: translateX(90px) translateY(-120px) scale(2);
    }
}
